 <div class="slider" style="margin-top:50px">
    <ul class="slides">
      <li>
        <img src="/img/feature-bg.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome</h3>
          <p>Welcome to DomyProject 1.0.0</p>
          <p light grey-text text-lighten-3>This is the platform to to post your project requirements and our Alieans/Developers will happy to help you with their innovative mind moreover your project requirement specification is as safe as that of your sweet memories..! </p>
        </div>
      </li>
      <li>
        <img src="/img/banner-bg.jpg"> <!-- random image -->
        <div class="caption left-align">

          <h5 class="light grey-text text-lighten-3" ><center>Our Alieans Team is always ready to help you!</center></h5>
        </div>
      </li>
      <li>
        <img src="/img/custom-web-development.png"> <!-- random image -->
        <div class="caption right-align">

        </div>
      </li>
      <li>
        <img src="/img/cms-web-img.png"> <!-- random image -->
        <div class="caption center-align">


        </div>
      </li>
    </ul>
  </div>

{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}