<h3>Welcome</h3>
<p>Welcome to DomyProject.com 1.0.0</p>
<p>Post your project requirements and our Alieans/Developer team is always ready to help you and moreover  all of your requirement specifications is as safe as your sweet memories</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}